<div class="background" id="backdrop">
  <app-layout>
    <div class="jumbotron">
      <h1>Popcorn Pass</h1>
      <input type="text" id="ip2" value = "Search for your favorite movie, TV show, or actor..."/> <br />
    <br />
      <ng-container>
        <div class="container">
          <!-- Content here -->
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" id="sortTag">Sort by: </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="" (click)="switchSort(1)">Now Playing</a>
                <a class="dropdown-item" [routerLink]="" (click)="switchSort(2)">Top Rated</a>
                <a class="dropdown-item" [routerLink]="" (click)="switchSort(3)">Popular</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="" (click)="switchSort(4)">Upcoming</a>
              </div>
            </li>
          </ul>
        </div>
        <br />

      </ng-container>
      <div class=sortBy></div>
      <div class="wrapper">
        <ng-container *ngFor="let results of restItems['results']; let i = index">
            <div class="ticket">
                <div class="card" id="{{i}}" onclick="flip(this)">
                  <div class="front">
                    <img src="http://image.tmdb.org/t/p/w185/{{results.poster_path}}" />
                  </div>
                  <div class="back">
                    <p class="title">{{results.title}}</p>
                    <p class="overview">{{results.overview}}</p>
                  </div>
                </div>
              </div>
        </ng-container>
      </div>

      <br />
      <div class="pagination">
        <a (click)="jumpToFirst()" href="#">&laquo;</a>
        <a (click)="decrementPageNumber()" href="#">&lt;</a>
        <b><a class="pages" id="pageNum"></a></b>
        <a (click)="incrementPageNumber()" href="#">&gt;</a>
        <a (click)="jumpToLast()" href="#">&raquo;</a>
      </div>

      <form action="">
        Jump to Page: <input class="input" type="text" id="input" maxlength="3" size="3" placeholder="1">
        <br>
        <br>
      </form>
      <button (click)="submitClick()" class="submitButton">Jump!</button>
    </div>
  </app-layout>
  
</div>